
<!-- ici, on entre forcément dans la condition car l'observable est initialisé avec un tableau vide (BehaviorSubject) -->
<ng-container *ngIf="(collection$ | async) as collection">
  <!-- ici, on affiche le template que si le tableau n'est pas vide -->
  <app-template-full-width title='Liste des commandes' *ngIf='collection.length > 0 else elseBlock' >
  <!-- projeter un composant -->
  <!-- property binding = association de propriétés -->
  <app-table-light [headers]='headers'>
    <!-- ici on projète la portion de tableau faisant réf à collection -->
    <tr *ngFor='let obj of collection'>
      <td>
        <!-- utiliser icon-edit -->
        <!-- ajouter un événement au clic -->
        <app-icon-edit (click)='goToEdit(obj.id)'></app-icon-edit>
        <app-icon-delete (click)='onDelete(obj.id)'></app-icon-delete>
      </td>
      <!--  table data cells (td)-->
      <td>{{obj.typePresta | uppercase}}</td>
      <td>{{obj.client}}</td>
      <td>{{obj.nbJours}}</td>
      <!-- attention à cette écriture -->
      <!-- <td>{{obj.totalTTC()}}</td> -->

      <td>{{obj.tjmHt | currency}}</td>
      <!-- <td>{{obj.tjmHt | total :obj.nbJours | currency }}</td> -->
      <td>{{ obj | total | currency }}</td>
      <!-- <td>{{obj.tjmHt | total :obj.nbJours :obj.tva }}</td> -->
      <td>{{ obj | total : true | currency}}</td>
      <td appState [etat]='obj.state'>
        <select (change)='changeState(obj, $event)'>
          <option *ngFor='let state of states' [value]='state' [selected]='state === obj.state'>
            {{state}}
          </option>
          <!-- <option value='OPTION'>OPTION</option>
              <option value='CONFIRMED'>CONFIRMED</option> -->
        </select>
      </td>
    </tr>
  </app-table-light>

  <!-- ici on ajoute le composant app-btn -->
  <!-- on lui passe une route, un label -->
  <!-- orders/add -->
  <app-btn route='add' label='Ajouter' styleBtn='btn btn-primary'></app-btn>

  </app-template-full-width>
</ng-container>


<ng-template #elseBlock >
  <p style='color:red'>Loading...</p>
</ng-template>


